@import '../../../Root/root.module.scss';

.block {
    display: flex;
    flex-direction: column;
    width: 207px;
}

.nav {
    @extend .navClass;
    @extend .font_Atyp_Regular;
    text-decoration: none;
    margin-bottom: 25px;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    color: transparent;
    transition: -webkit-text-stroke 1s;
    position: relative;
    // overflow: hidden;
}
.nav:nth-child(1) {
    &::before {
        content: attr(data-text);
        position: absolute;
        color: #6A2C70;
        -webkit-text-stroke: 0px;
        width: 0;
        overflow: hidden;
        border-right: 2px solid #6A2C70;
        transition: all 1s;
}
&::after {
    content: '';
    position: absolute;
    left: 25vh;
    width: 0vw;
    height: 0vw;
    border-radius: 50%;
    background-image: url(./IMG/NN_nav_1.png);
    background-position: center;
    opacity: 0;
    transition: all 1s;
}
&:hover {
    &::after {
        content: '';
        position: absolute;
        left: 25vh;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        background-image: url(./IMG/NN_nav_1.png);
        background-position: center;
        opacity: 1;
        transition: all 1s;
    }
}

}
.nav:nth-child(2) {
    &::before {
        content: attr(data-text);
        position: absolute;
        color: #F08A5D;
        -webkit-text-stroke: 0px;
        width: 0;
        overflow: hidden;
        border-right: 2px solid #F08A5D;
        transition: all 1s;
}
&::after {
    content: '';
    position: absolute;
    top: -50px;
    left: 25vh;
    width: 0vw;
    height: 0vw;
    border-radius: 50%;
    background-image: url(./IMG/NN_nav_2.png);
    background-position: center;
    opacity: 0;
    transition: all 1s;
}
&:hover {
    overflow: visible;
    &::after {
        content: '';
        position: absolute;
        top: -50px;
        left: 25vh;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        background-image: url(./IMG/NN_nav_2.png);
        background-position: center;
        opacity: 1;
        transition: all 1s;
    }
}
}

.nav:nth-child(3) {
    &::before {
        content: attr(data-text);
        position: absolute;
        color: #6A2C70;
        -webkit-text-stroke: 0px;
        width: 0;
        overflow: hidden;
        border-right: 2px solid #6A2C70;
        transition: all 1s;
}
&::after {
    content: '';
    position: absolute;
    top: -100px;
    left: 25vh;
    width: 0vw;
    height: 0vw;
    border-radius: 50%;
    background-image: url(./IMG/NN_nav_3.svg);
    background-position: center;
    opacity: 0;
    transition: all 1s;
}
&:hover {
    overflow: visible;
    &::after {
        content: '';
        position: absolute;
        top: -100px;
        left: 25vh;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        background-image: url(./IMG/NN_nav_3.svg);
        background-position: center;
        opacity: 1;
        transition: all 1s;
    }
}
}

.nav:nth-child(4) {
    &::before {
        content: attr(data-text);
        position: absolute;
        color: #F08A5D;
        -webkit-text-stroke: 0px;
        width: 0;
        overflow: hidden;
        border-right: 2px solid #F08A5D;
        transition: all 1s;
}
&::after {
    content: '';
    position: absolute;
    top: -150px;
    left: 25vh;
    width: 0vw;
    height: 0vw;
    border-radius: 50%;
    background-image: url(./IMG/NN_nav_4.png);
    background-position: center;
    opacity: 0;
    transition: all 1s;
}
&:hover {
    overflow: visible;
    &::after {
        content: '';
        position: absolute;
        top: -150px;
        left: 25vh;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        background-image: url(./IMG/NN_nav_4.png);
        background-position: center;
        opacity: 1;
        transition: all 1s;
    }
}
}

.nav:hover {
    width: 100%;
    -webkit-text-stroke: 0.5px #6A2C70;
    transition: all 1s;
    &::before {
        width: 100%;
    }
}