@import '../../Root/root.module.scss';

.main_button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: #FF9800;
    overflow: hidden 
}
.btn_item {
    text-decoration: none;
    position: relative;
    padding: 25px 40px 20px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-family: 'roboto';
    letter-spacing: 1.1rem;
    text-transform: uppercase;
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn_item:before, .btn_item:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}
.btn_item:hover {
    color: #FF9800;
    transition-delay: .6s;
}
.btn_item:hover:before {
    transition-delay: 0s;
}
.btn_item:hover:after {
    background: #fff;
    transition-delay: .4s;
}
a:before, a:after {
    top: 0;
    width: 0;
    height: 100%;
}
a:before {
    left: 0;
    border: 1px solid #fff;
    border-left: 0;
    border-right: 0;
}
a:after {
    right: 0;
    top: 1px;
}
a:hover:before, a:hover:after {
    width: 100%;
}